@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "falling";
  src: url("/fonts/fallingSky.otf") format("otf")
}
@font-face {
  font-family: "dailymirror";
  src: url("/fonts/Dailymirror.ttf") format("ttf")
}

p{
    font-family: dailymirror;
}
h1, h2, h3, h4, h5, h6{
    font-family: dailymirror;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.post-details h1,
.post-details h2,
.post-details h3,
.post-details h4,
.post-details h5,
.post-details h6
{
@apply text-themeColor text-2xl font-semibold mt-3;
}
.post-details p{
  font-size: 20px;
}


.close{
  color: red;
  position: absolute;
  right: 10px;
  top: 15px;
  border: 2px solid red;
  font-size: 40px;
  line-height: 1;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(45deg);
}

.heroSlider .swiper-pagination-bullet.swiper-pagination-bullet-active{
  opacity: 1;
  background: #001eff;
}
.heroSlider .swiper-pagination-bullet{
  opacity: .6;
  background: #fff;
  width: 60px;
  border-radius: 0;
  height: 5px;
}


.wavy-underline{
  text-decoration: underline wavy #0BA7E4;
}










/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-themeColor rounded-xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
